In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("../Dataset/s_mart.csv")
df.head()

   goods  purchases  parking  rental_bag        date
0     25    96120.0        0           2  2023-02-07
1     13    49710.0        0           2  2022-11-18
2     28   247380.0        1           2  2023-02-20
3      3   174430.0        1           0  2022-12-10
4      8    35510.0        0           1  2022-11-19

In [4]:
print(df.dtypes, df.shape)

goods           int64
purchases     float64
parking         int64
rental_bag      int64
date           object
dtype: object (8043, 5)

Q1. 여러 변수간 상관관계를 확인하고자 한다. 상품 구매 수(goods), 결제 총 금액(purchases), 주차 여부(parking), 장바구니 대여 여부(rental_bag)간 피어슨 상관분석을 수행하고 그 결과 중 상관계수 절대값이 가장 큰 값을 구하시오
※ 결측값이 포함된 데이터는 제거한 후에 상관분석을 수행하시오
※ 정답은 반올림하여 소수점 첫째 자리까지 출력하시오. (정답 예시: 22.9)

In [5]:
df_sub1 = df.copy()

In [10]:
df_sub1=df_sub1.dropna()

In [11]:
df_sub1.corr()

               goods  purchases   parking  rental_bag
goods       1.000000   0.305037 -0.001237    0.466990
purchases   0.305037   1.000000  0.006664    0.162369
parking    -0.001237   0.006664  1.000000   -0.005597
rental_bag  0.466990   0.162369 -0.005597    1.000000

In [12]:
answer = 0.466990
answer = round(answer, 1)
print(answer)

0.5

In [13]:
df_sub2 = df.dropna()

In [14]:
df_sub2.shape

(6654, 5)

In [15]:
df_sub2['date'] = pd.to_datetime(df_sub2['date'])
df_sub2.dtypes

C:\Users\syoun\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

goods                  int64
purchases            float64
parking                int64
rental_bag             int64
date          datetime64[ns]
dtype: object

In [16]:
df_sub2.head()

   goods  purchases  parking  rental_bag       date
0     25    96120.0        0           2 2023-02-07
1     13    49710.0        0           2 2022-11-18
2     28   247380.0        1           2 2023-02-20
3      3   174430.0        1           0 2022-12-10
4      8    35510.0        0           1 2022-11-19

In [24]:
st = df_sub2.loc[df_sub2['purchases']==49710, 'date']
ed = df_sub2.loc[df_sub2['purchases']==96120, 'date']
print(pd.to_datetime(st))
print(ed)

1   2022-11-18
Name: date, dtype: datetime64[ns]
0   2023-02-07
Name: date, dtype: datetime64[ns]

In [21]:
df_sub2.sort_values(by='date', inplace=True)
df_sub2.head()

C:\Users\syoun\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

      goods  purchases  parking  rental_bag       date
1663      6    28150.0        0           1 2022-11-01
2037     23    97610.0        1           2 2022-11-01
5105      6    38730.0        1           0 2022-11-01
1291      1     6930.0        0           0 2022-11-01
4141     25   137290.0        0           2 2022-11-01

In [22]:
df_sub2.tail()

      goods  purchases  parking  rental_bag       date
2762      7    50880.0        0           1 2023-02-28
906       0        0.0        0           0 2023-02-28
2711      9    43150.0        1           0 2023-02-28
939      11    64290.0        1           0 2023-02-28
1378     13   221520.0        1           0 2023-02-28

In [41]:
st = df_sub2.loc[df_sub2['purchases']==49710, 'date']
ed = df_sub2.loc[df_sub2['purchases']==96120, 'date']
print(st, ed)

1   2022-11-18
Name: date, dtype: datetime64[ns] 0   2023-02-07
Name: date, dtype: datetime64[ns]

In [45]:
st = pd.to_datetime('2022-11-18')
ed = pd.to_datetime('2023-02-07')
print(st, type(st))
print(ed, type(ed))

2022-11-18 00:00:00 <class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-02-07 00:00:00 <class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [53]:
df_sub2_2 = df_sub2.loc[(st<=df_sub2['date']) & (df_sub2['date']<=ed)]

In [55]:
answer = df_sub2_2['purchases'].mean()
answer = round(answer, 3)
print(answer)

155362.209

In [115]:
df_sub3 = df.copy()

In [116]:
df.loc[df['purchases'].isna()]

      goods  purchases  parking  rental_bag        date
12       11        NaN        0           0  2023-02-05
26       12        NaN        0           0  2022-12-07
27       22        NaN        0           2  2023-02-24
28       20        NaN        0           0  2022-12-27
31       12        NaN        1           1  2023-01-24
...     ...        ...      ...         ...         ...
8015     23        NaN        1           2  2022-11-30
8016     23        NaN        0           0  2022-11-27
8025      3        NaN        0           0  2022-11-20
8033     20        NaN        1           2  2022-11-25
8042     19        NaN        0           2  2023-01-11

[1389 rows x 5 columns]

In [117]:
mean_ = df_sub3['purchases'].mean()
df_sub3['purchases'].fillna(mean_)

0        96120.000000
1        49710.000000
2       247380.000000
3       174430.000000
4        35510.000000
            ...
8038     75870.000000
8039    159070.000000
8040     92720.000000
8041    764510.000000
8042    154812.908025
Name: purchases, Length: 8043, dtype: float64

In [118]:
df_sub3.loc[df_sub3['purchases'].isna()] = mean_
df_sub3.loc[df_sub3['purchases'].isna()]

Empty DataFrame
Columns: [goods, purchases, parking, rental_bag, date]
Index: []

In [119]:
df_sub3.head()

   goods  purchases  parking  rental_bag        date
0   25.0    96120.0      0.0         2.0  2023-02-07
1   13.0    49710.0      0.0         2.0  2022-11-18
2   28.0   247380.0      1.0         2.0  2023-02-20
3    3.0   174430.0      1.0         0.0  2022-12-10
4    8.0    35510.0      0.0         1.0  2022-11-19

In [120]:
df_sub3['rental_bag'] = np.where(df_sub3['rental_bag']>0, 1, 0)
df_sub3.head()

   goods  purchases  parking  rental_bag        date
0   25.0    96120.0      0.0           1  2023-02-07
1   13.0    49710.0      0.0           1  2022-11-18
2   28.0   247380.0      1.0           1  2023-02-20
3    3.0   174430.0      1.0           0  2022-12-10
4    8.0    35510.0      0.0           1  2022-11-19

In [121]:
df_sub3['date'] = pd.to_datetime(df_sub3['date'])

In [122]:
df_sub3.dtypes

goods                float64
purchases            float64
parking              float64
rental_bag             int32
date          datetime64[ns]
dtype: object

In [123]:
test_set = df_sub3.loc[df_sub3['date'].dt.month == 2]
train_set = df_sub3.loc[df_sub3['date'].dt.month != 2]

In [124]:
test_set.shape

(1498, 5)

In [125]:
train_set.shape

(6545, 5)

In [126]:
train_set.head()

   goods  purchases  parking  rental_bag       date
1   13.0    49710.0      0.0           1 2022-11-18
3    3.0   174430.0      1.0           0 2022-12-10
4    8.0    35510.0      0.0           1 2022-11-19
5   16.0    90330.0      0.0           0 2022-12-21
6   17.0    83850.0      1.0           1 2022-12-02

In [127]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import f1_score
random_state = 229

In [128]:
scaler = StandardScaler().fit(train_set[['goods', 'purchases']])

In [129]:
train_set[['goods', 'purchases']]=scaler.transform(train_set[['goods', 'purchases']])

C:\Users\syoun\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\syoun\Anaconda3\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [130]:
train_set.head()

      goods  purchases  parking  rental_bag       date
1 -0.519073  -0.709553      0.0           1 2022-11-18
3 -0.519231   0.143303      1.0           0 2022-12-10
4 -0.519152  -0.806655      0.0           1 2022-11-19
5 -0.519026  -0.431787      0.0           0 2022-12-21
6 -0.519010  -0.476098      1.0           1 2022-12-02

In [131]:
test_set[['goods', 'purchases']]=scaler.transform(test_set[['goods', 'purchases']])

C:\Users\syoun\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\syoun\Anaconda3\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [132]:
test_set.head()

      goods  purchases  parking  rental_bag       date
0 -0.518884  -0.392194      0.0           1 2023-02-07
2 -0.518836   0.642147      1.0           1 2023-02-20
7 -0.518805   0.414778      0.0           1 2023-02-21
8 -0.518947  -0.488475      1.0           1 2023-02-13
9 -0.518994  -0.138771      0.0           1 2023-02-21

In [133]:
col = ['goods', 'purchases', 'parking']
model = LogisticRegression(random_state=random_state)

In [134]:
model.fit(train_set[col], train_set['rental_bag'])

C:\Users\syoun\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=229, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [135]:
pred = model.predict(test_set[col])

In [136]:
answer = f1_score(y_true=test_set['rental_bag'], y_pred=pred)
answer

0.8214004720692369

In [137]:
answer = round(answer, 2)
print(answer)

0.82