In [2]:
import numpy as np
import pandas as pd

In [21]:
df = pd.read_csv("../Dataset/real_estate.csv")
df

,latitude,longitude,price_per_square_py,py,apt_code,dist_from_station
0,37.125541,126.913776,2860.053787,24,GEDAE,1588.406226
1,37.223169,127.026913,1715.073163,59,IHEAD,986.146800
2,37.239029,126.906303,1780.604630,57,FHIBJ,1492.514512
3,37.274433,126.737771,1508.814336,42,JBCIJ,1621.602866
4,37.082670,127.143634,2933.930488,32,EDJCI,945.034519
...,...,...,...,...,...,...
772,37.161852,126.917406,3564.856667,40,IHEAD,1593.663253
773,37.288945,127.118062,3072.810919,24,GBDGG,1803.257080
774,37.234408,126.745186,2491.714188,61,EJAIA,1346.821965
775,37.294494,127.185185,1746.372819,40,EGFBJ,1461.672552
776,37.004345,127.107611,1667.553347,32,EHCAD,1377.100866

In [4]:
df.dtypes

latitude               float64
longitude              float64
price_per_square_py    float64
py                       int64
apt_code                object
dist_from_station      float64
dtype: object

In [6]:
#단계 1 : 데이터의 첫 번째 행부터 열 번째 행까지의 시공사 코드(apt_code) 리스트를 저장한다.
apt_list = df['apt_code']
apt_list

0      GEDAE
1      IHEAD
2      FHIBJ
3      JBCIJ
4      EDJCI
       ...
772    IHEAD
773    GBDGG
774    EJAIA
775    EGFBJ
776    EHCAD
Name: apt_code, Length: 777, dtype: object

In [8]:
apt_list = apt_list.to_list()[:10]

In [9]:
apt_list

['GEDAE',
 'IHEAD',
 'FHIBJ',
 'JBCIJ',
 'EDJCI',
 'EHCAD',
 'HEBIA',
 'HEBIA',
 'IIGFI',
 'FHIBJ']

In [10]:
#단계 2 : 시공사 코드(apt_code)가 단계 1에서 구한 리스트에 포함되어 있는 데이터를 전부 제거한다.
df_sub1 = df.copy()

In [19]:
for code in apt_list:
    df_sub1 = df_sub1.loc[code!=df_sub1['apt_code']]

In [20]:
df_sub1

,latitude,longitude,price_per_square_py,py,apt_code,dist_from_station
10,37.046400,126.837832,3750.582844,40,GBDGG,1493.140743
11,37.215855,127.127967,1945.709193,32,HCCBB,989.515201
12,37.252653,127.107425,2670.280398,32,IDCIC,1802.915110
13,37.132489,126.784801,2246.292722,40,HCCBB,922.157169
14,37.270844,127.064936,2423.397245,24,EGFBJ,1491.398873
...,...,...,...,...,...,...
770,37.251483,127.073069,2356.504401,63,HHGCB,1416.903407
771,37.078108,126.723392,1884.239692,24,DEACF,967.757381
773,37.288945,127.118062,3072.810919,24,GBDGG,1803.257080
774,37.234408,126.745186,2491.714188,61,EJAIA,1346.821965
775,37.294494,127.185185,1746.372819,40,EGFBJ,1461.672552

In [24]:
list = df_sub1.groupby(['apt_code'])['py'].mean()

In [32]:
list.sort_values(ascending=False)

apt_code
DBEGD    38.629630
HFIAJ    38.000000
HHGCB    35.967742
ICDIG    35.888889
DCJJH    35.857143
EJAIA    35.148148
IFGCB    35.142857
EACGE    35.000000
AEEDH    34.941176
DAHBD    34.684211
IDCIC    34.666667
GBDGG    34.640000
CDBFE    34.352941
JACBH    33.923077
GBCBB    33.840000
CJCBC    33.761905
HCCBB    33.088235
AADGJ    33.045455
EDEAG    33.000000
EGFBJ    32.629630
EJEFI    31.708333
DEACF    30.918919
Name: py, dtype: float64

In [34]:
answer = 38.629630
answer = round(answer, 3)
answer

38.63

In [35]:
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
random_state = 229

In [37]:
df.columns

Index(['latitude', 'longitude', 'price_per_square_py', 'py', 'apt_code',
       'dist_from_station'],
      dtype='object')

In [40]:
X = df[['latitude', 'longitude', 'price_per_square_py', 'py','dist_from_station']]
for k in range(2, 10):
    model = KMeans(n_clusters=k, random_state=random_state).fit(X)
    score = silhouette_score(X, model.labels_, random_state=random_state)
    print(k, score)

2 0.634635924729853
3 0.44885775222425267
4 0.4558213655816168
5 0.43755753782339263
6 0.3629999389627252
7 0.36408372786750115
8 0.3786501238713389
9 0.3966255576781226

In [41]:
k = 2
model = KMeans(n_clusters=k, random_state=random_state).fit(X)

In [43]:
df_sub2 = df.copy()
df_sub2['label'] = model.labels_
df_sub2

,latitude,longitude,price_per_square_py,py,apt_code,dist_from_station,label
0,37.125541,126.913776,2860.053787,24,GEDAE,1588.406226,0
1,37.223169,127.026913,1715.073163,59,IHEAD,986.146800,1
2,37.239029,126.906303,1780.604630,57,FHIBJ,1492.514512,1
3,37.274433,126.737771,1508.814336,42,JBCIJ,1621.602866,1
4,37.082670,127.143634,2933.930488,32,EDJCI,945.034519,0
...,...,...,...,...,...,...,...
772,37.161852,126.917406,3564.856667,40,IHEAD,1593.663253,0
773,37.288945,127.118062,3072.810919,24,GBDGG,1803.257080,0
774,37.234408,126.745186,2491.714188,61,EJAIA,1346.821965,1
775,37.294494,127.185185,1746.372819,40,EGFBJ,1461.672552,1
776,37.004345,127.107611,1667.553347,32,EHCAD,1377.100866,1

In [45]:
df_sub2.groupby(['label']).count()

,latitude,longitude,price_per_square_py,py,apt_code,dist_from_station
label,,,,,,
0,201,201,201,201,201,201
1,576,576,576,576,576,576

In [47]:
answer = (576)/(201+576)
answer

0.7413127413127413

In [49]:
answer = round(answer, 2)
answer
#################여기서 올림을 했었어야했다!!!!##################

0.74

In [50]:
df_sub3 = df.copy()
df_sub3['price'] = df_sub3['price_per_square_py'] * df_sub3['py']
df_sub3

,latitude,longitude,price_per_square_py,py,apt_code,dist_from_station,price
0,37.125541,126.913776,2860.053787,24,GEDAE,1588.406226,68641.290895
1,37.223169,127.026913,1715.073163,59,IHEAD,986.146800,101189.316628
2,37.239029,126.906303,1780.604630,57,FHIBJ,1492.514512,101494.463921
3,37.274433,126.737771,1508.814336,42,JBCIJ,1621.602866,63370.202096
4,37.082670,127.143634,2933.930488,32,EDJCI,945.034519,93885.775621
...,...,...,...,...,...,...,...
772,37.161852,126.917406,3564.856667,40,IHEAD,1593.663253,142594.266660
773,37.288945,127.118062,3072.810919,24,GBDGG,1803.257080,73747.462061
774,37.234408,126.745186,2491.714188,61,EJAIA,1346.821965,151994.565484
775,37.294494,127.185185,1746.372819,40,EGFBJ,1461.672552,69854.912763
776,37.004345,127.107611,1667.553347,32,EHCAD,1377.100866,53361.707088

In [52]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
random_state = 229

In [54]:
train_set, test_set = train_test_split(df_sub3, test_size = 2/30, random_state=random_state, )

In [58]:
train_set.shape

(725, 7)

In [59]:
test_set.shape

(52, 7)

In [60]:
#3 Train Set으로 LinearRegression 모델을 학습하고, Test Set에 적용한다. 
#이 때, 절편을 포함한 경우와 포함하지 않은 경우 각각에 대하여 수행한다.

In [61]:
X = train_set[['latitude', 'longitude', 'price_per_square_py', 'py','dist_from_station']]
y = train_set['price']

In [62]:
model_intercept = LinearRegression(fit_intercept=True).fit(X, y)
model_intercept.score(X, y)

0.953888849310125

In [63]:
model_no_intercept = LinearRegression(fit_intercept=False).fit(X, y)
model_no_intercept.score(X, y)

0.9538655974727891

In [64]:
test_X = test_set[['latitude', 'longitude', 'price_per_square_py', 'py','dist_from_station']]
test_y = test_set['price']

In [65]:
model_intercept.score(test_X, test_y)

0.9689589651349585

In [66]:
model_no_intercept.score(test_X, test_y)

0.9689584320861551

In [67]:
answer = max(0.9689589651349585, 0.9689584320861551)

In [68]:
answer = round(answer, 2)

In [69]:
answer

0.97

In [71]:
pred_intercept = model_intercept.predict(test_X)

In [72]:
M_intercept = ((test_y - pred_intercept)**2).mean()

In [73]:
M_intercept

19007139.27685827

In [74]:
pred_no_intercept = model_no_intercept.predict(test_X)
M_no_intercept = ((test_y - pred_no_intercept)**2).mean()
M_no_intercept

19007465.674895316

In [75]:
answer = max(M_intercept, M_no_intercept)
answer = round(answer, 2)
answer

19007465.67