In [1]:
import numpy as np
import pandas as pd

In [10]:
df = pd.read_csv("../Dataset/s_mart.csv")
df

      goods  purchases  parking  rental_bag        date
0        25    96120.0        0           2  2023-02-07
1        13    49710.0        0           2  2022-11-18
2        28   247380.0        1           2  2023-02-20
3         3   174430.0        1           0  2022-12-10
4         8    35510.0        0           1  2022-11-19
...     ...        ...      ...         ...         ...
8038      9    75870.0        0           1  2022-11-28
8039     21   159070.0        1           2  2022-12-20
8040     10    92720.0        0           0  2023-01-18
8041     13   764510.0        1           0  2023-01-05
8042     19        NaN        0           2  2023-01-11

[8043 rows x 5 columns]

In [3]:
df.dtypes

goods           int64
purchases     float64
parking         int64
rental_bag      int64
date           object
dtype: object

In [4]:
#Q1

In [9]:
df_q1 = df.dropna()
df_q1

      goods  purchases  parking  rental_bag        date
0        25    96120.0        0           2  2023-02-07
1        13    49710.0        0           2  2022-11-18
2        28   247380.0        1           2  2023-02-20
3         3   174430.0        1           0  2022-12-10
4         8    35510.0        0           1  2022-11-19
...     ...        ...      ...         ...         ...
8037     22    95230.0        1           2  2022-12-08
8038      9    75870.0        0           1  2022-11-28
8039     21   159070.0        1           2  2022-12-20
8040     10    92720.0        0           0  2023-01-18
8041     13   764510.0        1           0  2023-01-05

[6654 rows x 5 columns]

In [11]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import f1_score
random_state = 229

In [12]:
df_q1.corr()

               goods  purchases   parking  rental_bag
goods       1.000000   0.305037 -0.001237    0.466990
purchases   0.305037   1.000000  0.006664    0.162369
parking    -0.001237   0.006664  1.000000   -0.005597
rental_bag  0.466990   0.162369 -0.005597    1.000000

In [14]:
answer = 0.466990
answer = round(answer, 1)
answer

0.5

In [15]:
#Q2

In [18]:
df_q2 = df.dropna()

In [20]:
df_q2

      goods  purchases  parking  rental_bag        date
0        25    96120.0        0           2  2023-02-07
1        13    49710.0        0           2  2022-11-18
2        28   247380.0        1           2  2023-02-20
3         3   174430.0        1           0  2022-12-10
4         8    35510.0        0           1  2022-11-19
...     ...        ...      ...         ...         ...
8037     22    95230.0        1           2  2022-12-08
8038      9    75870.0        0           1  2022-11-28
8039     21   159070.0        1           2  2022-12-20
8040     10    92720.0        0           0  2023-01-18
8041     13   764510.0        1           0  2023-01-05

[6654 rows x 5 columns]

In [24]:
df_q2['date'] = pd.to_datetime(df_q2['date'])

C:\Users\syoun\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [32]:
st = df_q2.loc[df_q2['purchases']==49710, 'date']

In [33]:
ed = df_q2.loc[df_q2['purchases']==96120, 'date']

In [34]:
print(st, ed)

1   2022-11-18
Name: date, dtype: datetime64[ns] 0   2023-02-07
Name: date, dtype: datetime64[ns]

In [37]:
df_sort = df_q2.sort_values(by=['date'])
df_sort

      goods  purchases  parking  rental_bag       date
1663      6    28150.0        0           1 2022-11-01
2037     23    97610.0        1           2 2022-11-01
5105      6    38730.0        1           0 2022-11-01
1291      1     6930.0        0           0 2022-11-01
4141     25   137290.0        0           2 2022-11-01
...     ...        ...      ...         ...        ...
2762      7    50880.0        0           1 2023-02-28
906       0        0.0        0           0 2023-02-28
2711      9    43150.0        1           0 2023-02-28
939      11    64290.0        1           0 2023-02-28
1378     13   221520.0        1           0 2023-02-28

[6654 rows x 5 columns]

In [42]:
st = df_sort.loc[df_q2['purchases']==49710, 'date'].iloc[0]
ed = df_sort.loc[df_q2['purchases']==96120, 'date'].iloc[0]
print(st, ed)

2022-11-18 00:00:00 2023-02-07 00:00:00

In [43]:
daterange = (st<=df_sort['date']) & (df_sort['date'] <=ed)
daterange

1663    False
2037    False
5105    False
1291    False
4141    False
        ...
2762    False
906     False
2711    False
939     False
1378    False
Name: date, Length: 6654, dtype: bool

In [45]:
answer = df_sort.loc[daterange, 'purchases'].mean()

In [46]:
answer = round(answer, 3)
answer

155362.209

In [49]:
mean = df['purchases'].mean()
df_q3 = df.fillna(mean)
df_q3

      goods      purchases  parking  rental_bag        date
0        25   96120.000000        0           2  2023-02-07
1        13   49710.000000        0           2  2022-11-18
2        28  247380.000000        1           2  2023-02-20
3         3  174430.000000        1           0  2022-12-10
4         8   35510.000000        0           1  2022-11-19
...     ...            ...      ...         ...         ...
8038      9   75870.000000        0           1  2022-11-28
8039     21  159070.000000        1           2  2022-12-20
8040     10   92720.000000        0           0  2023-01-18
8041     13  764510.000000        1           0  2023-01-05
8042     19  154812.908025        0           2  2023-01-11

[8043 rows x 5 columns]

In [51]:
df_q3['rental_bag'] = np.where(df_q3['rental_bag']>0, 1, 0)
df_q3

      goods      purchases  parking  rental_bag        date
0        25   96120.000000        0           1  2023-02-07
1        13   49710.000000        0           1  2022-11-18
2        28  247380.000000        1           1  2023-02-20
3         3  174430.000000        1           0  2022-12-10
4         8   35510.000000        0           1  2022-11-19
...     ...            ...      ...         ...         ...
8038      9   75870.000000        0           1  2022-11-28
8039     21  159070.000000        1           1  2022-12-20
8040     10   92720.000000        0           0  2023-01-18
8041     13  764510.000000        1           0  2023-01-05
8042     19  154812.908025        0           1  2023-01-11

[8043 rows x 5 columns]

In [59]:
df_q3['date'] = pd.to_datetime(df_q3['date'])
df_q3.dtypes

goods                  int64
purchases            float64
parking                int64
rental_bag             int32
date          datetime64[ns]
month                 object
dtype: object

In [65]:
df_q3['month'] = df_q3['date'].dt.month
df_q3

      goods      purchases  parking  rental_bag       date  month
0        25   96120.000000        0           1 2023-02-07      2
1        13   49710.000000        0           1 2022-11-18     11
2        28  247380.000000        1           1 2023-02-20      2
3         3  174430.000000        1           0 2022-12-10     12
4         8   35510.000000        0           1 2022-11-19     11
...     ...            ...      ...         ...        ...    ...
8038      9   75870.000000        0           1 2022-11-28     11
8039     21  159070.000000        1           1 2022-12-20     12
8040     10   92720.000000        0           0 2023-01-18      1
8041     13  764510.000000        1           0 2023-01-05      1
8042     19  154812.908025        0           1 2023-01-11      1

[8043 rows x 6 columns]

In [67]:
train_set = df_q3[df_q3['month']==2]
train_set

      goods  purchases  parking  rental_bag       date  month
0        25    96120.0        0           1 2023-02-07      2
2        28   247380.0        1           1 2023-02-20      2
7        30   214130.0        0           1 2023-02-21      2
8        21    82040.0        1           1 2023-02-13      2
9        18   133180.0        0           1 2023-02-21      2
...     ...        ...      ...         ...        ...    ...
8005     12    90180.0        0           0 2023-02-17      2
8008      3    22100.0        0           0 2023-02-07      2
8020     31   215790.0        1           1 2023-02-04      2
8022      6    23640.0        1           1 2023-02-27      2
8028      0        0.0        0           1 2023-02-26      2

[1795 rows x 6 columns]

In [68]:
test_set = df_q3[df_q3['month']!=2]
test_set

      goods      purchases  parking  rental_bag       date  month
1        13   49710.000000        0           1 2022-11-18     11
3         3  174430.000000        1           0 2022-12-10     12
4         8   35510.000000        0           1 2022-11-19     11
5        16   90330.000000        0           0 2022-12-21     12
6        17   83850.000000        1           1 2022-12-02     12
...     ...            ...      ...         ...        ...    ...
8038      9   75870.000000        0           1 2022-11-28     11
8039     21  159070.000000        1           1 2022-12-20     12
8040     10   92720.000000        0           0 2023-01-18      1
8041     13  764510.000000        1           0 2023-01-05      1
8042     19  154812.908025        0           1 2023-01-11      1

[6248 rows x 6 columns]

In [70]:
scaler = StandardScaler()
scaler.fit(train_set[['goods', 'purchases']])

StandardScaler(copy=True, with_mean=True, with_std=True)

In [71]:
train_set

      goods  purchases  parking  rental_bag       date  month
0        25    96120.0        0           1 2023-02-07      2
2        28   247380.0        1           1 2023-02-20      2
7        30   214130.0        0           1 2023-02-21      2
8        21    82040.0        1           1 2023-02-13      2
9        18   133180.0        0           1 2023-02-21      2
...     ...        ...      ...         ...        ...    ...
8005     12    90180.0        0           0 2023-02-17      2
8008      3    22100.0        0           0 2023-02-07      2
8020     31   215790.0        1           1 2023-02-04      2
8022      6    23640.0        1           1 2023-02-27      2
8028      0        0.0        0           1 2023-02-26      2

[1795 rows x 6 columns]

In [72]:
train_scale = train_set
train_scale[['goods', 'purchases']]=scaler.transform(train_set[['goods', 'purchases']])

C:\Users\syoun\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\syoun\Anaconda3\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [73]:
train_scale

         goods  purchases  parking  rental_bag       date  month
0     1.062559  -0.394351        0           1 2023-02-07      2
2     1.389243   0.543887        1           1 2023-02-20      2
7     1.607033   0.337644        0           1 2023-02-21      2
8     0.626979  -0.481687        1           1 2023-02-13      2
9     0.300295  -0.164475        0           1 2023-02-21      2
...        ...        ...      ...         ...        ...    ...
8005 -0.353074  -0.431196        0           0 2023-02-17      2
8008 -1.333127  -0.853484        0           0 2023-02-07      2
8020  1.715927   0.347940        1           1 2023-02-04      2
8022 -1.006443  -0.843932        1           1 2023-02-27      2
8028 -1.659812  -0.990567        0           1 2023-02-26      2

[1795 rows x 6 columns]

In [74]:
model = LogisticRegression(random_state=random_state)
X = train_scale[['goods', 'purchases' ,'parking']]
y = train_scale['rental_bag']
model.fit(X, y)

C:\Users\syoun\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=229, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [75]:
model.predict(X)

array([1, 1, 1, ..., 1, 1, 0])

In [87]:
test_scale = test_set
test_scale[['goods', 'purchases']]=scaler.transform(test_set[['goods', 'purchases']])

C:\Users\syoun\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\syoun\Anaconda3\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [88]:
test_scale

         goods  purchases  parking  rental_bag       date  month
1    -0.244179  -0.682224        0           1 2022-11-18     11
3    -1.333127   0.091392        1           0 2022-12-10     12
4    -0.788653  -0.770305        0           1 2022-11-19     11
5     0.082505  -0.430266        0           0 2022-12-21     12
6     0.191400  -0.470460        1           1 2022-12-02     12
...        ...        ...      ...         ...        ...    ...
8038 -0.679758  -0.519959        0           1 2022-11-28     11
8039  0.626979  -0.003884        1           1 2022-12-20     12
8040 -0.570864  -0.415441        0           0 2023-01-18      1
8041 -0.244179   3.751553        1           0 2023-01-05      1
8042  0.409190  -0.030290        0           1 2023-01-11      1

[6248 rows x 6 columns]

In [89]:
test_y_pred = model.predict(test_scale[['goods', 'purchases' ,'parking']])
test_y_pred

array([1, 1, 1, ..., 1, 1, 1])

In [90]:
test_y_pred.sum()

6085

In [92]:
answer = f1_score(test_set['rental_bag'], test_y_pred)

In [94]:
answer = round(answer, 2)
answer

0.82