In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("../Dataset/VberEats.csv")
df.head()

     ids  ages  orders  purchases  bookmarks  replies  ratings  period
0  47009    42      95  3509917.0          9       14       26      26
1  74838    41      10   673392.0         10       24       72      40
2  34976    20      23  1943940.0          6       20       51      19
3  34959    37      46  1981730.0          0       26       52      19
4  36710    36      93   386907.0         10       30       59      20

In [3]:
df.dtypes

ids            int64
ages           int64
orders         int64
purchases    float64
bookmarks      int64
replies        int64
ratings        int64
period         int64
dtype: object

In [4]:
df.shape

(18951, 8)

In [5]:
test_set = df.loc[df['purchases'].isna()]
test_set.shape

(203, 8)

In [6]:
test_set.head()

       ids  ages  orders  purchases  bookmarks  replies  ratings  period
111  17967    20      10        NaN          5       29      113      10
323  68198    44       2        NaN          7       12       12      36
470   2336    30       1        NaN          9       26       96       2
550  55012    33      54        NaN          8       25       99      30
809  16217    25      51        NaN         11        9       12       9

In [7]:
train_set = df.loc[df['purchases'].isna()==False]
train_set.shape

(18748, 8)

In [8]:
train_set.head()

     ids  ages  orders  purchases  bookmarks  replies  ratings  period
0  47009    42      95  3509917.0          9       14       26      26
1  74838    41      10   673392.0         10       24       72      40
2  34976    20      23  1943940.0          6       20       51      19
3  34959    37      46  1981730.0          0       26       52      19
4  36710    36      93   386907.0         10       30       59      20

In [9]:
df.columns

Index(['ids', 'ages', 'orders', 'purchases', 'bookmarks', 'replies', 'ratings',
       'period'],
      dtype='object')

In [10]:
col = ['ages', 'orders','bookmarks', 'replies', 'ratings',
       'period']

In [11]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.preprocessing import MinMaxScaler
random_state=229

In [12]:
scaler=MinMaxScaler().fit(train_set[col])

In [13]:
train_set[col]=scaler.transform(train_set[col])
train_set.head()

C:\Users\syoun\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\syoun\Anaconda3\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,ids,ages,orders,purchases,bookmarks,replies,ratings,period
0,47009,0.666667,0.959184,3509917.0,0.750000,0.358974,0.124402,0.641026
1,74838,0.638889,0.091837,673392.0,0.833333,0.615385,0.344498,1.000000
2,34976,0.055556,0.224490,1943940.0,0.500000,0.512821,0.244019,0.461538
3,34959,0.527778,0.459184,1981730.0,0.000000,0.666667,0.248804,0.461538
4,36710,0.500000,0.938776,386907.0,0.833333,0.769231,0.282297,0.487179

In [14]:
test_set[col]=scaler.transform(test_set[col])
test_set.head()

C:\Users\syoun\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\syoun\Anaconda3\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,ids,ages,orders,purchases,bookmarks,replies,ratings,period
111,17967,0.055556,0.091837,NaN,0.416667,0.743590,0.540670,0.230769
323,68198,0.722222,0.010204,NaN,0.583333,0.307692,0.057416,0.897436
470,2336,0.333333,0.000000,NaN,0.750000,0.666667,0.459330,0.025641
550,55012,0.416667,0.540816,NaN,0.666667,0.641026,0.473684,0.743590
809,16217,0.194444,0.510204,NaN,0.916667,0.230769,0.057416,0.205128

In [15]:
model = DecisionTreeRegressor(random_state=random_state)

In [16]:
model.fit(train_set[col], train_set['purchases'])

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=229, splitter='best')

In [19]:
pred_y = model.predict(test_set[col])

In [21]:
df.loc[df['purchases'].isna(), 'purchases'] = pred_y

In [22]:
df.loc[df['purchases'].isna()]

Empty DataFrame
Columns: [ids, ages, orders, purchases, bookmarks, replies, ratings, period]
Index: []

In [23]:
df['purchases'].mean()

2666251.4393435703

In [24]:
df_sub1 = df.sample(frac=0.25, random_state=random_state)
df_sub1.shape

(4738, 8)

In [25]:
df.shape

(18951, 8)

In [26]:
18951*0.25

4737.75

In [28]:
df_sub1['age_cls']=df['ages']//10
df_sub1.head()

,ids,ages,orders,purchases,bookmarks,replies,ratings,period,age_cls
6424,6941,33,57,204381.0,5,8,21,4,3
14181,43255,40,5,34325.0,6,25,75,24,4
8550,37222,31,88,6708403.0,3,18,67,20,3
3876,13537,43,32,1975157.0,0,11,15,8,4
12120,69188,34,64,11142283.0,9,11,32,38,3

In [29]:
df_sub1.columns

Index(['ids', 'ages', 'orders', 'purchases', 'bookmarks', 'replies', 'ratings',
       'period', 'age_cls'],
      dtype='object')

In [30]:
col = ['ages', 'orders', 'bookmarks', 'replies', 'ratings',
       'period']

In [31]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
random_state=229

In [32]:
scaler = MinMaxScaler().fit(df_sub1[col])
df_sub1[col]=scaler.transform(df_sub1[col])

In [33]:
df_sub1.head()

,ids,ages,orders,purchases,bookmarks,replies,ratings,period,age_cls
6424,6941,0.416667,0.571429,204381.0,0.416667,0.205128,0.100962,0.076923,3
14181,43255,0.611111,0.040816,34325.0,0.500000,0.641026,0.360577,0.589744,4
8550,37222,0.361111,0.887755,6708403.0,0.250000,0.461538,0.322115,0.487179,3
3876,13537,0.694444,0.316327,1975157.0,0.000000,0.282051,0.072115,0.179487,4
12120,69188,0.444444,0.642857,11142283.0,0.750000,0.282051,0.153846,0.948718,3

In [34]:
for k in range(2, 6):
    model = KMeans(n_clusters=k, random_state=random_state).fit(df_sub1[col])
    score = silhouette_score(df_sub1[col], model.labels_)
    print(k, score)

2 0.16180321227538863
3 0.14967939166430252
4 0.15079580349497418
5 0.1493027174089563

In [35]:
k = 2
model = KMeans(n_clusters=k, random_state=random_state).fit(df_sub1[col])
df_sub1['label']= model.labels_
df_sub1.head()

,ids,ages,orders,purchases,bookmarks,replies,ratings,period,age_cls,label
6424,6941,0.416667,0.571429,204381.0,0.416667,0.205128,0.100962,0.076923,3,1
14181,43255,0.611111,0.040816,34325.0,0.500000,0.641026,0.360577,0.589744,4,0
8550,37222,0.361111,0.887755,6708403.0,0.250000,0.461538,0.322115,0.487179,3,0
3876,13537,0.694444,0.316327,1975157.0,0.000000,0.282051,0.072115,0.179487,4,1
12120,69188,0.444444,0.642857,11142283.0,0.750000,0.282051,0.153846,0.948718,3,1

In [41]:
group= df_sub1.groupby('age_cls')['label']

In [44]:
answer = group.value_counts(normalize=True).max()
answer = round(answer, 2)
print(answer)

0.53

In [45]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [54]:
col = ['orders', 'bookmarks', 'replies', 'ratings',
       'period']
vifs=[]
for i in range(0, 5):
    vif = variance_inflation_factor(df[col].values, i)
    vifs.append(vif)
    print(i, vif)
vifs.sort()
vifs

0 3.096205582510852
1 2.818769218604191
2 7.534162561524372
3 5.9332210870176745
4 3.143516900669937

[2.818769218604191,
 3.096205582510852,
 3.143516900669937,
 5.9332210870176745,
 7.534162561524372]

In [55]:
answer = 'replies'

In [57]:
df_sub3 = df.copy()
mean_=df_sub3['orders'].mean()
print(mean_)
df_sub3['regular'] = np.where(df_sub3['orders']>mean_, 1, 0)
df_sub3.head()

49.69083425676745

,ids,ages,orders,purchases,bookmarks,replies,ratings,period,regular
0,47009,42,95,3509917.0,9,14,26,26,1
1,74838,41,10,673392.0,10,24,72,40,0
2,34976,20,23,1943940.0,6,20,51,19,0
3,34959,37,46,1981730.0,0,26,52,19,0
4,36710,36,93,386907.0,10,30,59,20,1

In [58]:
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score
random_state=229

In [59]:
train_set, test_set = train_test_split(df_sub3, test_size=0.8)
train_set.shape

(3790, 9)

In [60]:
test_set.shape

(15161, 9)

In [61]:
3790*4

15160

In [62]:
train_set.columns

Index(['ids', 'ages', 'orders', 'purchases', 'bookmarks', 'replies', 'ratings',
       'period', 'regular'],
      dtype='object')

In [63]:
col = ['ages', 'purchases', 'bookmarks', 'replies', 'ratings',
       'period']
model = GaussianNB().fit(train_set[col], train_set['regular'])

In [66]:
pred_y = model.predict_proba(test_set[col])[:, 1]
print(pred_y)

[0.49690377 0.22170444 0.22910738 ... 0.21686322 0.94834443 0.58300381]

In [67]:
thresholds = [0.4, 0.5, 0.6]
for threshold in thresholds:
    score = recall_score(y_true=test_set['regular'], y_pred=(pred_y>threshold))
    print(score)

0.6329479768786127
0.5792170257488176
0.5386232264844981

In [68]:
answer = 0.6329479768786127
answer = round(answer, 1)

In [69]:
print(answer)

0.6