In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("../Dataset/enrollment_info.csv")
df.head()

  enrollment_code gender  bonus  penalty school_code
0          QEHRNZ      F    0.0      0.0        SWHS
1          IUGTFR      F    1.6      0.0        PYHS
2          PWJCQA      M    0.0      0.0        NKHS
3          ZYFHCX      F    5.5      0.0        NKHS
4          KIBAHX      M    0.6      0.0        MWHS

In [4]:
df.dtypes

enrollment_code     object
gender              object
bonus              float64
penalty            float64
school_code         object
dtype: object

In [5]:
df.shape

(86550, 5)

Q1. 다음 단계에 따라 분석을 수행하고 질문에 답하시오.

단계 1 : 각 학생들의 상점(bonus)에서 벌점(penalty)을 뺀 값을 합계 점수로 정의한다.

단계 2 : 각 학교 코드(school_code)별 합계 점수 평균을 구하고, 이 중 3번째로 큰 값을 A라고 한다.

단계 3 : 0미만의 합계 점수는 0으로 변경 후, 각 학교 코드(school_code)별 합계 점수 평균을 구하고, 이 중 3번째로 큰 값을 B라고 한다.

단계 2에서 구한 A와 단계 3에서 구한 B의 절대값 차이를 구하시오
※ 결과는 반올림하여 소수점 첫째 자리까지 기술하시오. (답안예시 : 22.9)

In [6]:
df_sub1 = df.copy()
df_sub1['score'] = df_sub1['bonus']-df_sub1['penalty']
df_sub1.head()

  enrollment_code gender  bonus  penalty school_code  score
0          QEHRNZ      F    0.0      0.0        SWHS    0.0
1          IUGTFR      F    1.6      0.0        PYHS    1.6
2          PWJCQA      M    0.0      0.0        NKHS    0.0
3          ZYFHCX      F    5.5      0.0        NKHS    5.5
4          KIBAHX      M    0.6      0.0        MWHS    0.6

In [7]:
df_sub1.groupby('school_code')['score'].mean().sort_values()

school_code
SSHS    1.878692
NKHS    1.884758
MWHS    1.884921
SWHS    1.885445
PYHS    1.894385
HJHS    1.903893
Name: score, dtype: float64

In [8]:
A = 1.885445

In [9]:
df_sub1_2 = df_sub1.copy()
df_sub1_2['score'] = np.where(df_sub1_2['score']<0, 0, df_sub1_2['score'])
df_sub1_2

      enrollment_code gender  bonus  penalty school_code  score
0              QEHRNZ      F    0.0      0.0        SWHS    0.0
1              IUGTFR      F    1.6      0.0        PYHS    1.6
2              PWJCQA      M    0.0      0.0        NKHS    0.0
3              ZYFHCX      F    5.5      0.0        NKHS    5.5
4              KIBAHX      M    0.6      0.0        MWHS    0.6
...               ...    ...    ...      ...         ...    ...
86545          EPQLIH      M    1.6      0.5        MWHS    1.1
86546          MQXDDG      M    0.9      1.5        SWHS    0.0
86547          HJXJMX      F    0.1      0.0        MWHS    0.1
86548          RNRPTP      M    1.0      1.5        SSHS    0.0
86549          MWFMAZ      M    1.6      0.0        PYHS    1.6

[86550 rows x 6 columns]

In [10]:
df_sub1

      enrollment_code gender  bonus  penalty school_code  score
0              QEHRNZ      F    0.0      0.0        SWHS    0.0
1              IUGTFR      F    1.6      0.0        PYHS    1.6
2              PWJCQA      M    0.0      0.0        NKHS    0.0
3              ZYFHCX      F    5.5      0.0        NKHS    5.5
4              KIBAHX      M    0.6      0.0        MWHS    0.6
...               ...    ...    ...      ...         ...    ...
86545          EPQLIH      M    1.6      0.5        MWHS    1.1
86546          MQXDDG      M    0.9      1.5        SWHS   -0.6
86547          HJXJMX      F    0.1      0.0        MWHS    0.1
86548          RNRPTP      M    1.0      1.5        SSHS   -0.5
86549          MWFMAZ      M    1.6      0.0        PYHS    1.6

[86550 rows x 6 columns]

In [11]:
df_sub1_2.groupby('school_code')['score'].mean().sort_values()

school_code
SSHS    1.946607
MWHS    1.951009
SWHS    1.954195
NKHS    1.955182
PYHS    1.961894
HJHS    1.975478
Name: score, dtype: float64

In [12]:
B = 1.955182

In [13]:
answer = abs(A-B)
answer = round(answer, 1)
print(answer)

0.1

Q2. 데이터에는 총 6종류의 학교 코드(school_code)가 있다. 학생들의 등록 코드(enrollment_code)에 학교 코드(school_code)가 포함되어 있는 경우, 시스템에 문제가 발생할 수 있어, 이를 사전에 방지하고자 한다. 등록 코드(enrollment_code)에 학교 코드(school_code)가 포함되어 있는 학생들의 수 총합을 구하시오
단계 1 : 6종류의 학교 코드(school_code)를 구한다.
단계 2 : 등록 코드(enrollment_code)에 단계 1에서 구한 6종류의 학교 코드 중 하나가 포함되어 있는 학생 수를 구하시오

※ 학교 코드(school_code)가 ZXCV일 때, 등록 코드(enrollment_code)가 ZXCVAB, AZXCVB, CDZXCV 등의 경우는 등록 코드(enrollment_code)에 학교 코드(school_code)가 포함되어 있다고 본다.
※ 학교 코드(school_code)가 ZXCV일 때, 등록 코드(enrollment_code)가 ZXABCV의 경우는 등록 코드(enrollment_code)에 학교 코드(school_code)가 포함되어 있다고 보지 않는다.

In [14]:
df['school_code'].unique()

array(['SWHS', 'PYHS', 'NKHS', 'MWHS', 'SSHS', 'HJHS'], dtype=object)

In [15]:
schools = ['SWHS', 'PYHS', 'NKHS', 'MWHS', 'SSHS', 'HJHS']

In [16]:
for school in schools:
    cnt = df.loc[df['enrollment_code'].str.contains(school)]['enrollment_code'].count()
    print(cnt)

2
0
0
0
1
0

In [17]:
answer=3

In [18]:
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
random_state = 229

In [33]:
df_sub3 = df.loc[df['enrollment_code'].str.contains('HS')==True]
df_sub3

      enrollment_code gender  bonus  penalty school_code
212            HSJZSV      F    2.7      0.0        NKHS
352            GHSBRB      M    1.7      0.0        PYHS
466            QCMHSO      M    1.9      0.0        HJHS
515            QCUGHS      F    0.6      0.0        PYHS
825            VFEHSR      F    0.0      1.0        HJHS
...               ...    ...    ...      ...         ...
85724          KLHSJF      F    0.8      0.0        MWHS
86186          VHSEHU      M    1.1      0.0        HJHS
86314          IAHSSZ      M    1.2      2.0        SSHS
86452          KZHSZY      F    1.4      0.0        SWHS
86502          CUDHSP      M    0.9      0.0        SSHS

[661 rows x 5 columns]

In [34]:
df_sub3['gender'] = np.where(df_sub3['gender']=='M', 0, 1)
df_sub3

C:\Users\syoun\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

      enrollment_code  gender  bonus  penalty school_code
212            HSJZSV       1    2.7      0.0        NKHS
352            GHSBRB       0    1.7      0.0        PYHS
466            QCMHSO       0    1.9      0.0        HJHS
515            QCUGHS       1    0.6      0.0        PYHS
825            VFEHSR       1    0.0      1.0        HJHS
...               ...     ...    ...      ...         ...
85724          KLHSJF       1    0.8      0.0        MWHS
86186          VHSEHU       0    1.1      0.0        HJHS
86314          IAHSSZ       0    1.2      2.0        SSHS
86452          KZHSZY       1    1.4      0.0        SWHS
86502          CUDHSP       0    0.9      0.0        SSHS

[661 rows x 5 columns]

In [ ]:
df_sub3.columns

In [35]:
col = ['gender', 'bonus', 'penalty']

In [38]:
scores = []
for k in range(2, 10):
    model = KMeans(n_clusters=k, random_state=random_state).fit(df_sub3[col])
    score = silhouette_score(X=df_sub3[col], labels=model.labels_, random_state=random_state)
    print(k, score)
    scores.append(score)
print(scores)

2 0.49210569817087274
3 0.4062931935890039
4 0.3673405058072259
5 0.3788434967209334
6 0.3819707893922239
7 0.39566832687844056
8 0.40860930605877754
9 0.40552123066025897
[0.49210569817087274, 0.4062931935890039, 0.3673405058072259, 0.3788434967209334, 0.3819707893922239, 0.39566832687844056, 0.40860930605877754, 0.40552123066025897]

In [40]:
scores.sort()
scores

[0.3673405058072259,
 0.3788434967209334,
 0.3819707893922239,
 0.39566832687844056,
 0.40552123066025897,
 0.4062931935890039,
 0.40860930605877754,
 0.49210569817087274]

In [41]:
k = 8

In [42]:
model = KMeans(n_clusters=k, random_state=random_state).fit(df_sub3[col])
df_sub3['label'] = model.labels_

C:\Users\syoun\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [43]:
df_sub3.head()

    enrollment_code  gender  bonus  penalty school_code  label
212          HSJZSV       1    2.7      0.0        NKHS      4
352          GHSBRB       0    1.7      0.0        PYHS      0
466          QCMHSO       0    1.9      0.0        HJHS      0
515          QCUGHS       1    0.6      0.0        PYHS      2
825          VFEHSR       1    0.0      1.0        HJHS      5

In [51]:
df_sub3.groupby('label').size()

label
0     98
1     62
2     84
3     81
4    102
5     36
6     94
7    104
dtype: int64

In [52]:
df_sub3.shape

(661, 6)

In [53]:
answer = 104/661
answer = round(answer, 2)
print(answer)

0.16