In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("../Dataset/Laplace's Demon.csv")
df

,date,area,temp,atemp,humidity,windspeed,rain
0,2023-01-13,Cerulean City,26.869606,-8.894446,43.138450,6.009597,1
1,2023-01-17,Cerulean City,18.385474,-4.988309,88.427747,20.864357,1
2,2023-01-31,Seafoam Islands,26.867670,0.659525,30.940357,30.733466,1
3,2023-01-31,Goldenrod City,24.329853,107.903405,64.554282,8.618055,0
4,2023-01-23,Cianwood City,30.726903,75.236753,51.298311,13.717975,0
...,...,...,...,...,...,...,...
987,2023-01-30,Olivine City,18.395785,42.545595,67.418225,19.720593,0
988,2023-01-31,National Park,20.378908,54.748967,39.110960,28.918232,0
989,2023-01-12,New Bark Town,21.416077,-31.035881,46.316536,-9.463626,1
990,2023-01-08,Mt. Silver,26.862910,-97.438276,61.739254,17.644438,1
991,2023-01-05,Mt. Moon,14.579751,-8.068421,82.049132,23.257039,1

In [3]:
df.dtypes

date          object
area          object
temp         float64
atemp        float64
humidity     float64
windspeed    float64
rain           int64
dtype: object

In [4]:
#Q1

In [5]:
from sklearn.linear_model import LinearRegression
from scipy.stats import norm

In [9]:
test_set = df.loc[df['atemp']<=0]
test_set

,date,area,temp,atemp,humidity,windspeed,rain
0,2023-01-13,Cerulean City,26.869606,-8.894446,43.138450,6.009597,1
1,2023-01-17,Cerulean City,18.385474,-4.988309,88.427747,20.864357,1
5,2023-01-11,Mt. Mortar,24.389659,-77.019645,54.324315,10.642887,1
6,2023-01-28,Olivine City,21.530216,-2.520045,59.038512,19.818355,1
9,2023-01-27,Mt. Mortar,30.257600,-41.769718,42.568695,15.386586,1
...,...,...,...,...,...,...,...
979,2023-01-03,Cinnabar Island,35.625699,-17.225140,75.371968,15.091529,1
985,2023-01-13,National Park,25.186434,-17.217727,70.138763,8.020457,1
989,2023-01-12,New Bark Town,21.416077,-31.035881,46.316536,-9.463626,1
990,2023-01-08,Mt. Silver,26.862910,-97.438276,61.739254,17.644438,1
991,2023-01-05,Mt. Moon,14.579751,-8.068421,82.049132,23.257039,1

In [10]:
train_set = df.loc[df['atemp']>0]
train_set

,date,area,temp,atemp,humidity,windspeed,rain
2,2023-01-31,Seafoam Islands,26.867670,0.659525,30.940357,30.733466,1
3,2023-01-31,Goldenrod City,24.329853,107.903405,64.554282,8.618055,0
4,2023-01-23,Cianwood City,30.726903,75.236753,51.298311,13.717975,0
7,2023-01-11,Goldenrod City,25.149444,19.481239,64.818155,11.085351,1
8,2023-01-11,Viridian Forest,25.986556,2.299876,48.217095,2.153007,1
...,...,...,...,...,...,...,...
983,2023-01-20,Viridian City,21.046610,27.522004,54.198493,27.266112,0
984,2023-01-06,Cherrygrove City,36.484164,58.848414,63.215840,-1.430095,0
986,2023-01-20,Cerulean City,24.589537,40.662180,78.033262,23.258173,0
987,2023-01-30,Olivine City,18.395785,42.545595,67.418225,19.720593,0
988,2023-01-31,National Park,20.378908,54.748967,39.110960,28.918232,0

In [11]:
train_set.columns

Index(['date', 'area', 'temp', 'atemp', 'humidity', 'windspeed', 'rain'], dtype='object')

In [12]:
X = train_set[['temp', 'humidity', 'windspeed', 'rain']]
y = train_set['atemp']

In [13]:
model = LinearRegression().fit(X, y)

In [14]:
test_X = test_set[['temp', 'humidity', 'windspeed', 'rain']]
test_y = test_set['atemp']

In [16]:
mean = train_set['atemp'].mean()
mean

46.392572883794614

In [17]:
std = train_set['atemp'].std()
std

34.362970829666686

In [18]:
y = norm.ppf(q=0.25, loc = mean, scale = std)
y

23.21510127289749

In [19]:
pred_y = model.predict(test_X)
pred_y

array([ 18.30838511,   8.76217027,  15.22210675,  10.36861168,
        23.87867759,   5.25057181,  22.36814868,  -2.73110259,
         4.91382211,  14.8314555 ,  23.43314799,  23.41818776,
         3.17091676,   8.64158002,   5.38137793,  18.9618521 ,
        -7.65537862,  46.67171359,  24.41263243,   3.11262804,
        32.50510008,  26.71406024,  33.14445338,   6.47568874,
        -5.26835206,  13.02927515,   3.40989709,  10.59920383,
         2.47549738,   6.88066124,  16.13220367,  28.11163814,
        23.66594371,  22.08620639,  14.76054583,   0.89254698,
        17.64111608,  23.43557174,  15.6035976 ,  27.54634052,
        11.97972442,  24.60191656,  18.90512348,  22.61059135,
        21.47966692,  14.68497925,  -9.84917431,  32.22573564,
        -0.5030814 ,  14.97072619,  23.10502023,   3.00640183,
        38.43615888,  27.06495002,  11.09725566,  24.86900237,
        20.93043213,  10.87622897,  20.3126174 ,  16.49368208,
        -3.03580149,  22.3894822 ,  33.13181963,  14.20651461,
         7.12564411,  27.36219876,  12.70227402,  17.14650684,
        24.25523444,  13.75424969,  11.68027958,   3.4569703 ,
        19.23241508,  11.8154347 ,   3.4946548 ,  30.78744951,
        11.48009451,  28.23632802,  22.34109477,  -3.90697418,
        15.76594175,  25.39752968,  17.71659299,  16.2200761 ,
         8.83794569,  46.19445785,  21.85541231,  12.40221404,
         7.68669787,  35.29722164,  13.92903307,   7.47682504,
        25.2706853 ,  34.7982581 ,   7.44855719,  14.2373872 ,
        20.73284889,  22.62007899,  16.42329449,  10.98788928,
        23.72069936,  16.36940695,  26.39984822,  36.56865058,
         4.55331795,  -4.53540044,   6.04311357,  16.48057353,
         3.87695105,  37.90298643,  16.85522939,  13.864866  ,
         8.17690477,   7.10663244,  39.40978678,  11.6410847 ,
        11.44857573,  13.12990546,  10.90713229,  36.3282311 ,
        27.0136385 ,   8.53832422,  21.91629562,   4.1731908 ,
        29.92187317,  19.84158195,  19.99714581,  17.55737376,
        11.60416938,  15.85092291,  10.1457994 ,  -2.37303326,
        19.19432209,  34.14380094,   5.65015379,  12.30262115,
         4.01801752,  28.994953  ,   9.70104231,  32.86690116,
        17.2429835 ,   7.54183452,   7.36316518,  25.93657583,
        23.63202782,  21.38504669,  22.77696014,  18.67543391,
        26.88345746,  10.38412406,  -6.42921961,   7.36303122,
         6.80590616,  15.33567072,  11.85499451,   2.0243507 ,
        19.73629535,  23.49327052,  10.15628258, -11.78722372,
        22.77302359,  20.16619756,   6.14614614,  12.6365656 ,
       -13.33960981,  19.0270439 ,  19.60399148,  12.28868897,
        31.20519011,  16.4603354 ,  15.30821767,  23.57646025,
        10.22538096,  24.60396564,  23.43963349,  10.7407759 ,
         3.71854268,   6.85984333,  14.7947707 ,  41.07976724,
         9.32058325,  20.26451414,  24.88456459,  20.53720877,
        12.66969159,   6.41602977,  15.63547131,  17.12546925,
         2.58097002,  13.58126291, -13.78963904,  10.57175993,
        28.41010894,  10.29400913,  18.53796005,  17.00929883,
        29.31766021, -12.25202491,  16.13842621,  12.61809332,
        18.23946535,  23.79782298,  24.13357085,  33.88687338,
        32.21450031,   1.90952312, -12.61692118,  21.6042285 ,
         7.66689559,  19.31687725,  27.6835634 ,   5.59666017,
        -2.16252551,  20.33272773,   5.78458373,  -7.49128414,
        18.13975701,  17.5686813 ,  18.74876714,  20.01085921,
        19.65595885,  -8.93640461,  28.54457887,  33.36769619,
        28.6133601 ,  30.91472512,  19.38730703,   2.71320252,
         3.20100283,  11.89299486,   9.37419977,   7.56727351,
         1.3213869 ,  23.91988283,  33.29948872,  37.15305388,
        23.2573349 ,  20.01338135,  14.8973131 ,   2.28571578,
         3.18262602,  40.81066485,  11.38370247,   6.15035862,
        30.0431856 ,  13.27104657,  14.93521274,   5.01655679,
        21.92499687,  -5.16747784,  -3.26266852,  25.2771053 ,
         8.71046491,  11.87478245,  16.091462  ,   8.68510499,
         2.09715496,   8.1274892 ,  10.99864294,  16.7735896 ,
        23.65439594,  32.24020368,  18.92451917,  17.41747698,
        17.7164315 ,  29.27054845,  18.68127113,  -5.79840578,
        19.15492833,  11.31703204,  12.85280325,  30.76383987,
        11.25550399,  38.46863052,  18.30846686,  17.88850449,
        -3.8966879 ,  14.41972412,  34.24629463,  11.59849874,
        26.8181836 ,   0.57491594,  15.05235906,   0.77784765,
        10.8602779 ,  23.10013022,  28.80162067,  31.99801424,
        32.09296248,  36.60515083,  18.87705543,  33.42382702,
        17.0586137 ,  10.75694896,   5.52736609,   4.57193597,
        -3.86668568,  24.57468899,  25.23991477,  17.40423374,
        30.39924646,  30.58438831,  20.01438057,  24.40695648,
        13.56002497,   4.31711162,  15.05146572,  10.81771826,
        17.89418755,  -7.19883711,   0.78889365,  17.41177649,
        21.33309019,   1.8084345 ,  25.41438344,  34.71211525,
         9.08890855,  38.01072863,  18.94186635,   9.67057095,
        20.36275385,   0.97901825])

In [20]:
M = (((y-pred_y)**2).mean())**0.5
M

13.563655780091821

In [21]:
answer = round(M, 2)
answer

13.56

In [24]:
df_sub2 = df.copy()
df_sub2

,date,area,temp,atemp,humidity,windspeed,rain
0,2023-01-13,Cerulean City,26.869606,-8.894446,43.138450,6.009597,1
1,2023-01-17,Cerulean City,18.385474,-4.988309,88.427747,20.864357,1
2,2023-01-31,Seafoam Islands,26.867670,0.659525,30.940357,30.733466,1
3,2023-01-31,Goldenrod City,24.329853,107.903405,64.554282,8.618055,0
4,2023-01-23,Cianwood City,30.726903,75.236753,51.298311,13.717975,0
...,...,...,...,...,...,...,...
987,2023-01-30,Olivine City,18.395785,42.545595,67.418225,19.720593,0
988,2023-01-31,National Park,20.378908,54.748967,39.110960,28.918232,0
989,2023-01-12,New Bark Town,21.416077,-31.035881,46.316536,-9.463626,1
990,2023-01-08,Mt. Silver,26.862910,-97.438276,61.739254,17.644438,1
991,2023-01-05,Mt. Moon,14.579751,-8.068421,82.049132,23.257039,1

In [25]:
df_sub2['rain'] = np.where(df_sub2['rain']==0, -1, df_sub2['rain'])
df_sub2

,date,area,temp,atemp,humidity,windspeed,rain
0,2023-01-13,Cerulean City,26.869606,-8.894446,43.138450,6.009597,1
1,2023-01-17,Cerulean City,18.385474,-4.988309,88.427747,20.864357,1
2,2023-01-31,Seafoam Islands,26.867670,0.659525,30.940357,30.733466,1
3,2023-01-31,Goldenrod City,24.329853,107.903405,64.554282,8.618055,-1
4,2023-01-23,Cianwood City,30.726903,75.236753,51.298311,13.717975,-1
...,...,...,...,...,...,...,...
987,2023-01-30,Olivine City,18.395785,42.545595,67.418225,19.720593,-1
988,2023-01-31,National Park,20.378908,54.748967,39.110960,28.918232,-1
989,2023-01-12,New Bark Town,21.416077,-31.035881,46.316536,-9.463626,1
990,2023-01-08,Mt. Silver,26.862910,-97.438276,61.739254,17.644438,1
991,2023-01-05,Mt. Moon,14.579751,-8.068421,82.049132,23.257039,1

In [26]:
df_sub2['area'].unique()

array(['Cerulean City', 'Seafoam Islands', 'Goldenrod City',
       'Cianwood City', 'Mt. Mortar', 'Olivine City', 'Viridian Forest',
       'Mt. Moon', 'Mahogany Town', 'Ruins of Alph', 'Whirl Islands',
       'Lavender Town', 'Mt. Silver', 'Tohjo Falls', 'Saffron City',
       'Cherrygrove City', 'Pallet Town', 'Pewter City',
       'Cinnabar Island', 'Power Plant', 'Vermillion City',
       'Blackthorn City', 'Azalea Town', 'Viridian City', 'Ecruteak City',
       'New Bark Town', 'Celadon City', 'Safari Zone', 'Fuchsia City',
       'Lake of Rage', 'Violet City', 'National Park'], dtype=object)

In [27]:
areas = ['Cerulean City', 'Seafoam Islands', 'Goldenrod City',
       'Cianwood City', 'Mt. Mortar', 'Olivine City', 'Viridian Forest',
       'Mt. Moon', 'Mahogany Town', 'Ruins of Alph', 'Whirl Islands',
       'Lavender Town', 'Mt. Silver', 'Tohjo Falls', 'Saffron City',
       'Cherrygrove City', 'Pallet Town', 'Pewter City',
       'Cinnabar Island', 'Power Plant', 'Vermillion City',
       'Blackthorn City', 'Azalea Town', 'Viridian City', 'Ecruteak City',
       'New Bark Town', 'Celadon City', 'Safari Zone', 'Fuchsia City',
       'Lake of Rage', 'Violet City', 'National Park']

In [33]:
df_sub2['date']=pd.to_datetime(df_sub2['date'])
df_sub2.dtypes

date         datetime64[ns]
area                 object
temp                float64
atemp               float64
humidity            float64
windspeed           float64
rain                  int64
dtype: object

In [34]:
area = 'Cerulean City'
df_area = df_sub2.loc[df_sub2['area']==area]
df_area

,date,area,temp,atemp,humidity,windspeed,rain
0,2023-01-13,Cerulean City,26.869606,-8.894446,43.138450,6.009597,1
1,2023-01-17,Cerulean City,18.385474,-4.988309,88.427747,20.864357,1
15,2023-01-19,Cerulean City,26.616744,31.334048,17.389917,25.951203,-1
33,2023-01-03,Cerulean City,28.763959,-26.734454,54.244400,1.552694,1
108,2023-01-08,Cerulean City,24.507979,63.771337,51.876658,13.557220,-1
155,2023-01-01,Cerulean City,15.779598,44.089845,76.800344,3.020775,-1
164,2023-01-04,Cerulean City,42.594765,73.295476,89.123510,15.364647,-1
221,2023-01-28,Cerulean City,22.278243,-34.641080,74.805427,22.774751,1
282,2023-01-21,Cerulean City,32.135236,82.925306,42.444158,3.888107,-1
286,2023-01-11,Cerulean City,27.276212,141.474448,67.682020,10.531696,-1
352,2023-01-06,Cerulean City,20.271318,48.321733,74.372203,32.640192,-1
401,2023-01-26,Cerulean City,28.328839,-53.068736,51.264660,8.817572,1
416,2023-01-23,Cerulean City,28.457156,16.104061,64.666709,7.364630,1
420,2023-01-09,Cerulean City,6.959760,39.511749,73.970391,11.660947,-1
424,2023-01-12,Cerulean City,25.815406,-54.534271,60.129391,-3.823137,1
470,2023-01-05,Cerulean City,20.437823,-33.111145,53.384872,26.160965,1
515,2023-01-25,Cerulean City,18.590040,-6.575840,65.901187,17.888519,1
533,2023-01-07,Cerulean City,22.057760,38.094837,53.644636,15.210661,-1
557,2023-01-18,Cerulean City,32.931249,38.700260,70.479995,32.136679,1
602,2023-01-02,Cerulean City,22.306318,-37.272048,61.687211,7.085800,1
631,2023-01-10,Cerulean City,32.291099,101.014944,67.621925,23.123158,-1
643,2023-01-30,Cerulean City,28.429263,-12.333262,63.336755,7.992564,1
651,2023-01-27,Cerulean City,34.028607,-27.367060,48.537035,-2.581118,1
714,2023-01-24,Cerulean City,32.088866,-17.877489,86.429994,11.624018,1
759,2023-01-22,Cerulean City,20.498468,46.654461,53.491946,20.210237,-1
779,2023-01-29,Cerulean City,30.473615,-32.510608,82.059799,7.803765,1
875,2023-01-31,Cerulean City,10.433209,44.851052,35.683945,0.283249,-1
950,2023-01-16,Cerulean City,28.499079,86.093639,44.497587,14.508947,-1
970,2023-01-15,Cerulean City,16.323548,31.305808,95.164422,26.423646,-1
971,2023-01-14,Cerulean City,29.303964,-32.017813,64.904923,11.767231,1
986,2023-01-20,Cerulean City,24.589537,40.662180,78.033262,23.258173,-1

In [37]:
df_area.sort_values(by=['date'], inplace=True)
df_area

C:\Users\syoun\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,date,area,temp,atemp,humidity,windspeed,rain
155,2023-01-01,Cerulean City,15.779598,44.089845,76.800344,3.020775,-1
602,2023-01-02,Cerulean City,22.306318,-37.272048,61.687211,7.085800,1
33,2023-01-03,Cerulean City,28.763959,-26.734454,54.244400,1.552694,1
164,2023-01-04,Cerulean City,42.594765,73.295476,89.123510,15.364647,-1
470,2023-01-05,Cerulean City,20.437823,-33.111145,53.384872,26.160965,1
352,2023-01-06,Cerulean City,20.271318,48.321733,74.372203,32.640192,-1
533,2023-01-07,Cerulean City,22.057760,38.094837,53.644636,15.210661,-1
108,2023-01-08,Cerulean City,24.507979,63.771337,51.876658,13.557220,-1
420,2023-01-09,Cerulean City,6.959760,39.511749,73.970391,11.660947,-1
631,2023-01-10,Cerulean City,32.291099,101.014944,67.621925,23.123158,-1
286,2023-01-11,Cerulean City,27.276212,141.474448,67.682020,10.531696,-1
424,2023-01-12,Cerulean City,25.815406,-54.534271,60.129391,-3.823137,1
0,2023-01-13,Cerulean City,26.869606,-8.894446,43.138450,6.009597,1
971,2023-01-14,Cerulean City,29.303964,-32.017813,64.904923,11.767231,1
970,2023-01-15,Cerulean City,16.323548,31.305808,95.164422,26.423646,-1
950,2023-01-16,Cerulean City,28.499079,86.093639,44.497587,14.508947,-1
1,2023-01-17,Cerulean City,18.385474,-4.988309,88.427747,20.864357,1
557,2023-01-18,Cerulean City,32.931249,38.700260,70.479995,32.136679,1
15,2023-01-19,Cerulean City,26.616744,31.334048,17.389917,25.951203,-1
986,2023-01-20,Cerulean City,24.589537,40.662180,78.033262,23.258173,-1
282,2023-01-21,Cerulean City,32.135236,82.925306,42.444158,3.888107,-1
759,2023-01-22,Cerulean City,20.498468,46.654461,53.491946,20.210237,-1
416,2023-01-23,Cerulean City,28.457156,16.104061,64.666709,7.364630,1
714,2023-01-24,Cerulean City,32.088866,-17.877489,86.429994,11.624018,1
515,2023-01-25,Cerulean City,18.590040,-6.575840,65.901187,17.888519,1
401,2023-01-26,Cerulean City,28.328839,-53.068736,51.264660,8.817572,1
651,2023-01-27,Cerulean City,34.028607,-27.367060,48.537035,-2.581118,1
221,2023-01-28,Cerulean City,22.278243,-34.641080,74.805427,22.774751,1
779,2023-01-29,Cerulean City,30.473615,-32.510608,82.059799,7.803765,1
643,2023-01-30,Cerulean City,28.429263,-12.333262,63.336755,7.992564,1
875,2023-01-31,Cerulean City,10.433209,44.851052,35.683945,0.283249,-1

In [40]:
df_area = df_area.reset_index(drop=True)
df_area

,date,area,temp,atemp,humidity,windspeed,rain
0,2023-01-01,Cerulean City,15.779598,44.089845,76.800344,3.020775,-1
1,2023-01-02,Cerulean City,22.306318,-37.272048,61.687211,7.085800,1
2,2023-01-03,Cerulean City,28.763959,-26.734454,54.244400,1.552694,1
3,2023-01-04,Cerulean City,42.594765,73.295476,89.123510,15.364647,-1
4,2023-01-05,Cerulean City,20.437823,-33.111145,53.384872,26.160965,1
5,2023-01-06,Cerulean City,20.271318,48.321733,74.372203,32.640192,-1
6,2023-01-07,Cerulean City,22.057760,38.094837,53.644636,15.210661,-1
7,2023-01-08,Cerulean City,24.507979,63.771337,51.876658,13.557220,-1
8,2023-01-09,Cerulean City,6.959760,39.511749,73.970391,11.660947,-1
9,2023-01-10,Cerulean City,32.291099,101.014944,67.621925,23.123158,-1
10,2023-01-11,Cerulean City,27.276212,141.474448,67.682020,10.531696,-1
11,2023-01-12,Cerulean City,25.815406,-54.534271,60.129391,-3.823137,1
12,2023-01-13,Cerulean City,26.869606,-8.894446,43.138450,6.009597,1
13,2023-01-14,Cerulean City,29.303964,-32.017813,64.904923,11.767231,1
14,2023-01-15,Cerulean City,16.323548,31.305808,95.164422,26.423646,-1
15,2023-01-16,Cerulean City,28.499079,86.093639,44.497587,14.508947,-1
16,2023-01-17,Cerulean City,18.385474,-4.988309,88.427747,20.864357,1
17,2023-01-18,Cerulean City,32.931249,38.700260,70.479995,32.136679,1
18,2023-01-19,Cerulean City,26.616744,31.334048,17.389917,25.951203,-1
19,2023-01-20,Cerulean City,24.589537,40.662180,78.033262,23.258173,-1
20,2023-01-21,Cerulean City,32.135236,82.925306,42.444158,3.888107,-1
21,2023-01-22,Cerulean City,20.498468,46.654461,53.491946,20.210237,-1
22,2023-01-23,Cerulean City,28.457156,16.104061,64.666709,7.364630,1
23,2023-01-24,Cerulean City,32.088866,-17.877489,86.429994,11.624018,1
24,2023-01-25,Cerulean City,18.590040,-6.575840,65.901187,17.888519,1
25,2023-01-26,Cerulean City,28.328839,-53.068736,51.264660,8.817572,1
26,2023-01-27,Cerulean City,34.028607,-27.367060,48.537035,-2.581118,1
27,2023-01-28,Cerulean City,22.278243,-34.641080,74.805427,22.774751,1
28,2023-01-29,Cerulean City,30.473615,-32.510608,82.059799,7.803765,1
29,2023-01-30,Cerulean City,28.429263,-12.333262,63.336755,7.992564,1
30,2023-01-31,Cerulean City,10.433209,44.851052,35.683945,0.283249,-1

In [43]:
df_area.count()

date         31
area         31
temp         31
atemp        31
humidity     31
windspeed    31
rain         31
dtype: int64

In [49]:
for index in range(1, df_area['rain'].count()):
    print(index)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [46]:
df_area['cum_precipitation']=0
df_area.head()

,date,area,temp,atemp,humidity,windspeed,rain,cum_precipitation
0,2023-01-01,Cerulean City,15.779598,44.089845,76.800344,3.020775,-1,0
1,2023-01-02,Cerulean City,22.306318,-37.272048,61.687211,7.085800,1,0
2,2023-01-03,Cerulean City,28.763959,-26.734454,54.244400,1.552694,1,0
3,2023-01-04,Cerulean City,42.594765,73.295476,89.123510,15.364647,-1,0
4,2023-01-05,Cerulean City,20.437823,-33.111145,53.384872,26.160965,1,0

In [48]:
df_area.loc[0,'cum_precipitation'] = df_area.loc[0,'rain']
df_area.head()

,date,area,temp,atemp,humidity,windspeed,rain,cum_precipitation
0,2023-01-01,Cerulean City,15.779598,44.089845,76.800344,3.020775,-1,-1
1,2023-01-02,Cerulean City,22.306318,-37.272048,61.687211,7.085800,1,0
2,2023-01-03,Cerulean City,28.763959,-26.734454,54.244400,1.552694,1,0
3,2023-01-04,Cerulean City,42.594765,73.295476,89.123510,15.364647,-1,0
4,2023-01-05,Cerulean City,20.437823,-33.111145,53.384872,26.160965,1,0

In [50]:
for index in range(1, df_area['rain'].count()):
    df_area.loc[index, 'cum_precipitation'] = df_area.loc[index-1, 'cum_precipitation'] + df_area.loc[index, 'rain']
df_area

,date,area,temp,atemp,humidity,windspeed,rain,cum_precipitation
0,2023-01-01,Cerulean City,15.779598,44.089845,76.800344,3.020775,-1,-1
1,2023-01-02,Cerulean City,22.306318,-37.272048,61.687211,7.085800,1,0
2,2023-01-03,Cerulean City,28.763959,-26.734454,54.244400,1.552694,1,1
3,2023-01-04,Cerulean City,42.594765,73.295476,89.123510,15.364647,-1,0
4,2023-01-05,Cerulean City,20.437823,-33.111145,53.384872,26.160965,1,1
5,2023-01-06,Cerulean City,20.271318,48.321733,74.372203,32.640192,-1,0
6,2023-01-07,Cerulean City,22.057760,38.094837,53.644636,15.210661,-1,-1
7,2023-01-08,Cerulean City,24.507979,63.771337,51.876658,13.557220,-1,-2
8,2023-01-09,Cerulean City,6.959760,39.511749,73.970391,11.660947,-1,-3
9,2023-01-10,Cerulean City,32.291099,101.014944,67.621925,23.123158,-1,-4
10,2023-01-11,Cerulean City,27.276212,141.474448,67.682020,10.531696,-1,-5
11,2023-01-12,Cerulean City,25.815406,-54.534271,60.129391,-3.823137,1,-4
12,2023-01-13,Cerulean City,26.869606,-8.894446,43.138450,6.009597,1,-3
13,2023-01-14,Cerulean City,29.303964,-32.017813,64.904923,11.767231,1,-2
14,2023-01-15,Cerulean City,16.323548,31.305808,95.164422,26.423646,-1,-3
15,2023-01-16,Cerulean City,28.499079,86.093639,44.497587,14.508947,-1,-4
16,2023-01-17,Cerulean City,18.385474,-4.988309,88.427747,20.864357,1,-3
17,2023-01-18,Cerulean City,32.931249,38.700260,70.479995,32.136679,1,-2
18,2023-01-19,Cerulean City,26.616744,31.334048,17.389917,25.951203,-1,-3
19,2023-01-20,Cerulean City,24.589537,40.662180,78.033262,23.258173,-1,-4
20,2023-01-21,Cerulean City,32.135236,82.925306,42.444158,3.888107,-1,-5
21,2023-01-22,Cerulean City,20.498468,46.654461,53.491946,20.210237,-1,-6
22,2023-01-23,Cerulean City,28.457156,16.104061,64.666709,7.364630,1,-5
23,2023-01-24,Cerulean City,32.088866,-17.877489,86.429994,11.624018,1,-4
24,2023-01-25,Cerulean City,18.590040,-6.575840,65.901187,17.888519,1,-3
25,2023-01-26,Cerulean City,28.328839,-53.068736,51.264660,8.817572,1,-2
26,2023-01-27,Cerulean City,34.028607,-27.367060,48.537035,-2.581118,1,-1
27,2023-01-28,Cerulean City,22.278243,-34.641080,74.805427,22.774751,1,0
28,2023-01-29,Cerulean City,30.473615,-32.510608,82.059799,7.803765,1,1
29,2023-01-30,Cerulean City,28.429263,-12.333262,63.336755,7.992564,1,2
30,2023-01-31,Cerulean City,10.433209,44.851052,35.683945,0.283249,-1,1

In [52]:
_max = df_area['cum_precipitation'].max()
_min = df_area['cum_precipitation'].min()
diff = _max-_min
print(_max, _min, diff)

2 -6 8

In [67]:
diffs = []
for area in areas:
    df_area = df_sub2.loc[df_sub2['area']==area]
    df_area.sort_values(by=['date'], inplace=True)
    df_area = df_area.reset_index(drop=True)
    df_area['cum_precipitation']=0
    df_area['cum_precipitation'] = df_area['rain']
    for index in range(1, df_area['rain'].count()):
        df_area.loc[index, 'cum_precipitation'] = df_area.loc[index-1, 'cum_precipitation'] + df_area.loc[index, 'rain']
    _max = df_area['cum_precipitation'].max()
    _min = df_area['cum_precipitation'].min()
    diff = _max-_min
    diffs.append(diff)
    print(f"[{area}]", _max, _min, diff)

C:\Users\syoun\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

[Cerulean City] 2 -6 8
[Seafoam Islands] 2 -4 6
[Goldenrod City] 3 -3 6
[Cianwood City] 6 -2 8
[Mt. Mortar] 9 -2 11
[Olivine City] 2 -7 9
[Viridian Forest] 6 -3 9
[Mt. Moon] 11 1 10
[Mahogany Town] 2 -4 6
[Ruins of Alph] 6 0 6
[Whirl Islands] 1 -3 4
[Lavender Town] 7 1 6
[Mt. Silver] 13 -1 14
[Tohjo Falls] -1 -10 9
[Saffron City] 1 -4 5
[Cherrygrove City] 9 0 9
[Pallet Town] -1 -7 6
[Pewter City] 6 0 6
[Cinnabar Island] 10 -2 12
[Power Plant] 6 -1 7
[Vermillion City] 11 1 10
[Blackthorn City] 9 -1 10
[Azalea Town] 0 -8 8
[Viridian City] 5 -1 6
[Ecruteak City] 11 1 10
[New Bark Town] 9 -2 11
[Celadon City] 14 -2 16
[Safari Zone] 12 -1 13
[Fuchsia City] 2 -4 6
[Lake of Rage] 19 1 18
[Violet City] 5 -3 8
[National Park] 3 -4 7

In [72]:
diffs.sort(reverse=True)
answer = diffs[0]
answer

18

In [73]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
random_state=229

In [84]:
df_sub3 =df.copy()
df_sub3

,date,area,temp,atemp,humidity,windspeed,rain
0,2023-01-13,Cerulean City,26.869606,-8.894446,43.138450,6.009597,1
1,2023-01-17,Cerulean City,18.385474,-4.988309,88.427747,20.864357,1
2,2023-01-31,Seafoam Islands,26.867670,0.659525,30.940357,30.733466,1
3,2023-01-31,Goldenrod City,24.329853,107.903405,64.554282,8.618055,0
4,2023-01-23,Cianwood City,30.726903,75.236753,51.298311,13.717975,0
...,...,...,...,...,...,...,...
987,2023-01-30,Olivine City,18.395785,42.545595,67.418225,19.720593,0
988,2023-01-31,National Park,20.378908,54.748967,39.110960,28.918232,0
989,2023-01-12,New Bark Town,21.416077,-31.035881,46.316536,-9.463626,1
990,2023-01-08,Mt. Silver,26.862910,-97.438276,61.739254,17.644438,1
991,2023-01-05,Mt. Moon,14.579751,-8.068421,82.049132,23.257039,1

In [85]:
scaler = StandardScaler()
scaler.fit(df_sub3[['temp', 'atemp', 'humidity', 'windspeed']])

StandardScaler(copy=True, with_mean=True, with_std=True)

In [86]:
df_sub3[['temp', 'atemp', 'humidity', 'windspeed']] = scaler.transform(df_sub3[['temp', 'atemp', 'humidity', 'windspeed']])
df_sub3

,date,area,temp,atemp,humidity,windspeed,rain
0,2023-01-13,Cerulean City,0.524821,-0.604300,-1.250768,-0.859196,1
1,2023-01-17,Cerulean City,-0.895741,-0.524980,1.413644,0.740058,1
2,2023-01-31,Seafoam Islands,0.524496,-0.410293,-1.968393,1.802559,1
3,2023-01-31,Goldenrod City,0.099571,1.767447,0.009146,-0.578371,0
4,2023-01-23,Cianwood City,1.170677,1.104104,-0.770716,-0.029317,0
...,...,...,...,...,...,...,...
987,2023-01-30,Olivine City,-0.894014,0.440263,0.177634,0.616921,0
988,2023-01-31,National Park,-0.561965,0.688070,-1.487709,1.607133,0
989,2023-01-12,New Bark Town,-0.388304,-1.053913,-1.063798,-2.525033,1
990,2023-01-08,Mt. Silver,0.523699,-2.402308,-0.156465,0.393403,1
991,2023-01-05,Mt. Moon,-1.532962,-0.587526,1.038384,0.997652,1

In [87]:
X = df_sub3[['temp', 'atemp', 'humidity', 'windspeed', 'rain']]
model = KMeans(n_clusters=2, random_state=random_state).fit(X)
model.labels_

array([1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1,
       0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0,
       0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1,
       0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1,
       1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0,
       1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1,
       1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0,
       0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       1, 1])

In [88]:
#########표준화된 데이터에다가 하면 안됨
df_sub3['label'] = model.labels_
df_sub3

,date,area,temp,atemp,humidity,windspeed,rain,label
0,2023-01-13,Cerulean City,0.524821,-0.604300,-1.250768,-0.859196,1,1
1,2023-01-17,Cerulean City,-0.895741,-0.524980,1.413644,0.740058,1,1
2,2023-01-31,Seafoam Islands,0.524496,-0.410293,-1.968393,1.802559,1,1
3,2023-01-31,Goldenrod City,0.099571,1.767447,0.009146,-0.578371,0,0
4,2023-01-23,Cianwood City,1.170677,1.104104,-0.770716,-0.029317,0,0
...,...,...,...,...,...,...,...,...
987,2023-01-30,Olivine City,-0.894014,0.440263,0.177634,0.616921,0,0
988,2023-01-31,National Park,-0.561965,0.688070,-1.487709,1.607133,0,0
989,2023-01-12,New Bark Town,-0.388304,-1.053913,-1.063798,-2.525033,1,1
990,2023-01-08,Mt. Silver,0.523699,-2.402308,-0.156465,0.393403,1,1
991,2023-01-05,Mt. Moon,-1.532962,-0.587526,1.038384,0.997652,1,1

In [94]:
df['label'] = model.labels_
df

,date,area,temp,atemp,humidity,windspeed,rain,label
0,2023-01-13,Cerulean City,26.869606,-8.894446,43.138450,6.009597,1,1
1,2023-01-17,Cerulean City,18.385474,-4.988309,88.427747,20.864357,1,1
2,2023-01-31,Seafoam Islands,26.867670,0.659525,30.940357,30.733466,1,1
3,2023-01-31,Goldenrod City,24.329853,107.903405,64.554282,8.618055,0,0
4,2023-01-23,Cianwood City,30.726903,75.236753,51.298311,13.717975,0,0
...,...,...,...,...,...,...,...,...
987,2023-01-30,Olivine City,18.395785,42.545595,67.418225,19.720593,0,0
988,2023-01-31,National Park,20.378908,54.748967,39.110960,28.918232,0,0
989,2023-01-12,New Bark Town,21.416077,-31.035881,46.316536,-9.463626,1,1
990,2023-01-08,Mt. Silver,26.862910,-97.438276,61.739254,17.644438,1,1
991,2023-01-05,Mt. Moon,14.579751,-8.068421,82.049132,23.257039,1,1

In [89]:
#표준화된 걸로 평균을 구하면 안됨
df_sub3.groupby(['label'])['atemp'].mean()

label
0    0.862291
1   -0.676185
Name: atemp, dtype: float64

In [95]:
df.groupby(['label'])['atemp'].mean()

label
0    63.328541
1   -12.434458
Name: atemp, dtype: float64

In [96]:
answer = 63.328541 + (-12.434458)

In [97]:
answer

50.894083

In [98]:
answer = 50.89